@tailwind base;
@tailwind components;
@tailwind utilities;
 

.text_rotate {
  writing-mode: vertical-lr;
  text-orientation: unset
}

.container {
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeIn 1s forwards;
  animation-delay: .5s;

}

.mask {
  mask-image: url('../public/images/mask.png');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: black;
    color: white;
    z-index: 20;
    
}